
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #016f32;
    color: white;
    margin:0;
    -webkit-text-stroke: 1px #222;
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
    overflow: hidden;
    position: relative;
    height:100vh;
}

body::before {
    content: ' ';
    position: absolute;
    left: -15%;
    top: -15%;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.8;
    filter:blur(6px);
    background: linear-gradient(45deg, goldenrod, #f67804);
    box-shadow: 5px 10px 6px #222;
}

body::after {
    content: ' ';
    position: absolute;
    right: -15%;
    bottom: -15%;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.8;
    filter: blur(3px);
    background: linear-gradient(45deg, #016f32, #00ff73);
        box-shadow: -10px -1px 6px #222;
}
.main {
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    color: goldenrod;
    transition: 0.3s ease-in-out;
    text-shadow: 4px 4px 2px #333;
    cursor:pointer;
}
.chip{
    color: #4dff3b;
}
.chip.loss{
    color: red;
    animation: glow 0.5s infinite linear;
}
@keyframes glow{
    from{
        opacity:1;
    }
    to{
        opacity:0.5;
    }
}
#message-el {
    font-weight: 700;
    font-size: larger;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 8px 10px 1px #222223;
    padding: 0.5rem;
    border-radius: 20px;
    background: linear-gradient(44deg, #da8e00, goldenrod);
}
.card {
    position:relative;
    height: 4rem;
    width: 3rem;
    font-size:2rem;
    margin-right: 1rem;
    color: #646464;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    overflow:hidden;
    z-index: 1;
    box-shadow: 3px 2px 3px #222;
    animation: up 0.3s linear;
}
@keyframes up {
    from{
        transform: translateY(20%) rotate3d(20, -18, -9, 57deg);
        opacity:0;
    }
    to{
        transform: rotate3d(0, 0, 0, 0deg) translateY(0%);
        opacity:1;
    }
}
.card span{
    z-index:2;
    display: inline-flex;
    align-items: center;
    justify-self: center;
    height: 100%;
}
.card::before{
    content:' ';
    position:absolute;
    left:-10%;
    top:-10%;
    width:30px;
    height:30px;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(45deg , goldenrod, #f67804);
}
.card::after{
    content:' ';
    position:absolute;
    right:-10%;
    bottom:-10%;
    width:30px;
    height:30px;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(45deg , #016f32, #00ff73);
}

#card-el {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: goldenrod;
    color: #016f32;
    width: 150px;
    padding: 1rem 0;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
    box-shadow: 6px 5px 2px 0px #222;
    -webkit-text-stroke: 0.2px #000;
    transition: 0.3s ease-in-out;
}

button:active {
    transform: scale(0.5);
    background-color: #f67804;
}
@media (max-width:960px){
    body{
        font-size:xx-large;
    }
    body::before,
    body::after{
        width:25rem;
        height:25rem;
    }
    body::after{
        right:0;
    }
    #message-el{
        font-size:1.6rem;
    }
}